@media (max-width: 1280px) {
  .logo-hang {
    width: 10%;
    padding-bottom: 20px;
  }
  
  .forca-img {
      width: 450px; 
      padding-top: 5%;
  }

  .player-icon {
      right: 12%; 
  }

  .player-icon img {
      width: 150%; 
  }
  
  .palavra-img {
      width: 88%;
      height: auto;
      padding-left: 12.7%;
  }

  .timer-label {
      font-size: 1.5rem;
  }

  #timer {
      font-size: 1rem;
  }

  .player-icon .player-name {
      font-size: 1.2rem;
      padding-right: 0; 
  }

  .poderes-container img {
    width: 100px;
  }

  .keyboard {
    margin-top: 130px; 
  }

  .keyboard-row {
    margin-bottom: 8px; 
  }

  .key {
    width: 45px; 
    height: 60px; 
    font-size: 1rem; 
    margin: 4px; 
  }

  :root {
    --escala-geral: 0.8; /* Escala ajustada para telas menores */
  }

  .modal-content {
    width: 90%;
    height: 75%;
    background-size: contain;
  }

  .elementos-modal {
    padding-top: 10%;
  }

  .botoes {
    gap: 0;
  }

  .botoes button {
    width: 200px; /* Botões mais compactos */
    font-size: 1rem;
  }

    .cacto-img {
      padding-top: 5px;
      width: 100px;
    }

    #tema-faroeste .key {
      width: 45px; 
      height: 60px; 
      font-size: 1rem; 
      margin: 4px; 
    }

    #tema-faroeste .keyboard {
      margin-top: 130px; 
    }
  
    #tema-faroeste .keyboard-row {
      margin-bottom: 8px; 
    }
  
    #tema-faroeste .key {
      width: 45px; 
      height: 60px; 
      font-size: 1rem; 
      margin: 4px; 
    }

    #tema-natal .keyboard {
      margin-top: 130px; 
    }
  
    #tema-natal .keyboard-row {
      margin-bottom: 8px; 
    }

    #tema-natal .key {
      width: 45px; 
      height: 60px; 
      font-size: 1rem; 
      margin: 4px; 
    }
  
    #tema-halloween .keyboard {
      margin-top: 130px; 
    }
  
    #tema-halloween .keyboard-row {
      margin-bottom: 8px; 
    }
  
    #tema-halloween .key {
      width: 45px; 
      height: 60px; 
      font-size: 1rem; 
      margin: 4px; 
    }

    #tema-mar .keyboard {
      margin-top: 130px; 
    }
  
    #tema-mar .keyboard-row {
      margin-bottom: 8px; 
    }
  
    #tema-mar .key {
      width: 45px; 
      height: 60px; 
      font-size: 1rem; 
      margin: 4px; 
    }

    #tema-mar .arraia-img {
      width: 120px; /* Ajuste o tamanho conforme necessário */
      height: auto;
      margin-left: 50px;
    }
  
    #tema-mar .peixe-img {
      width: 120px; 
    }

    #tema-halloween .gato-img {
      position: relative;
      width: 120px; /* Ajuste o tamanho conforme necessário */
      left: 900px;
    }
  
    #tema-halloween .abobora-img {
      position: relative;
      left: 50px;
      width: 100px;    
    }
  
    #tema-natal .cervo-img {
      position: relative;
      width: 120px; /* Ajuste o tamanho conforme necessário */
      left: 700px;
    }
    
    #tema-natal .boneco-img {
      position: relative;
      left: 250px;
      width: 140px;    
    }
  
    #tema-faroeste .cacto-img {
      position: relative;
      width: 110px; /* Ajuste o tamanho conforme necessário */
      height: auto;
      left: 900px;
    }
  
    #tema-faroeste .passaro-img {
      position: relative;
      width: 110px; /* Ajuste o tamanho conforme necessário */
      height: auto;
      left: 100px;
    }
  }
